@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #24252A;
}
li, a.yes, button.header-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.form-button{
    font-family: "Roboto",sans-serif;
    text-transform:uppercase;
    outline: 0;
    background: #af7e8a;
    width: 100%;
    border:0;
    padding:15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10px;

}
.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding:9px 25px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}

button.header-button{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}


button:hover{
    background-color: rgba(0,136,169,0.8);
}

.column{
    align-content: stretch;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 0;
    background-color: #24252A;
    /* align-items: baseline; */
    /* column-gap: normal; */
    display: inline-grid;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10px;
/* grid-auto-columns: auto;*/
    margin: 0 80px;
}
.thecolumns{
    justify-items: flex-end;
}

.element {
    margin: 40px 0;
}
.elementimg{
    margin: 0 0 20px;
}